.carousel {
    height: 270px;
    position: relative;
    .left-arrow {
        width: 50px;
        height: 80px;
        line-height: 80px;
        position: absolute;
        left: -50px;
        top: 50%;
        transform: translateY(-50%);
        .left {
            color: black;
            font-size: 30px;
        }
    }
    .right-arrow {
        width: 50px;
        height: 80px;
        line-height: 80px;
        position: absolute;
        left: 730px;
        top: 50%;
        transform: translateY(-50%);
        
        .right {
            color: black;
            font-size: 30px;
        }
    }
    .carousel-content {
        position: relative;
        width: 984px;
        height: 270px;
        margin: 0 auto;
        background-color: bisque;
        .mycarousel {
            width: 730px;
            background-color: red;
        }
        .login-area {
            width: 254px;
            background-color: black;
        }
    }
}